<!DOCTYPE HTML>
<html>

<head>

    <title>Personal Trainer</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <script src="../js/lib/jquery.js"></script>
    <script src="../js/main.js"></script>
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper" class="fade-in">

        <!-- Intro -->
        <div id="intro">
            <h1>“La fuerza no viene de la capacidad física.<br /> Viene de una voluntad indomable.”</h1>
            <p>No te dejes domar<br />Empieza aqui</p>
            <ul class="actions">
                <li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
            </ul>
        </div>

        <!-- Header -->
        <header id="header">
            <a href="index.html" class="logo">Registrate</a>
        </header>

        <!-- Nav -->
        <nav id="nav">
            <ul class="links">
                <li class="active"><a href="admin.html">Nombre del cliente</a></li>
                <li class="active"><a href="admin.html">Rendimiento deportivo</a></li>
                <li class="active"><a href="admin.html">Rendimiento Alimenticio</a></li>
            </ul>
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            </ul>
        </nav>

        <!-- Footer -->
        <footer id="footer">
            <section>
                <form id="formularioContacto">
                    <div class="fields">
                        <div class="field">
                            <label for="name">Nombre</label>
                            <input type="text" name="nombre" id="name" />
                        </div>
                        <div class="field">
                            <label for="email">Apellidos</label>
                            <input type="text" name="apellido" id="email" />
                        </div>
                        <div class="field">
                            <label for="email">Fecha de Nacimiento</label>
                            <input type="date" name="nacimiento" id="email" />
                        </div>
                        <div class="field">
                            <label for="email">Contraseña</label>
                            <input type="text" name="contrasenia" id="email" />
                        </div>
                        <div class="field">
                            <label for="email">Palabra de Seguridad</label>
                            <input type="text" name="palabra" id="email" />
                        </div>
                        <div class="field">
                            <label for="name">Email</label>
                            <input type="text" name="email" id="name" />
                        </div>
                        <ul class="actions">
                            <li><input id="enviar" type="button" value="Enviar Formulario" /></li>
                        </ul>
                    </div>
                </form>
            </section>
            <section>
                <!-- apend de los datos -->
                <table class="table table-hover">
                    <thead class="col-8">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Datos</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="usuarioadmin" class="buscar">
                    </tbody>
            </section>

            </section>
        </footer>
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>

</html>